body {
  font-family: "Fragment Mono", monospace;
  /* background-color: #4281a4; */
  background: linear-gradient(to right, #4281a4, #242038);
  word-wrap: break-word;
  margin: 0 0 0 0;
  height: 100%;
}


/* Keep Footer at the bottom */
html, body {
  height: 100%;
}
#wrap {
  min-height: 100%;
}
#main {
  overflow:auto;
  padding-bottom: 150px;
} 



header {
  justify-content: space-between;
  align-items: center;
  text-align: center;
  display: flex;
  background: linear-gradient(to top left, #242038, rgb(31, 31, 71), black);
  text-shadow: 2px 2px 5px black;
  color: white;
}

#title {
  text-align: inherit;
  display: flex;
  margin-left: 10px;
  text-decoration: none;
  font-size: 35px;
}

.nav-bar {
  text-align: inherit;
  display: flex;
  text-decoration: none;
}

.nav-bar a {
  text-decoration: none;
  display: flex;
  margin-right: 25px;
  color: #ffffff;
}

.content {
  display: flex;
  flex-direction: row;
  text-shadow: 2px 2px 5px black;
  color: white;
  align-items: center;
  justify-content: space-around;
}

.content > div {
  margin-top: 25px;
  margin-left: 20px;
  margin-right: 20px;
  float: left;
  font-size: 20PX;
  box-shadow: 2px 2px 5px black;
  background: linear-gradient(358deg, #393E46, #315a89);
  border-radius: 30px;
  width: 50%;
  text-align: center;
}

footer {
  color: white;
  background-color: #242038;
  align-items: center;
  display: flex;
  justify-content: space-between;
  
  margin-top: -90px;
  height: 90px;
  position: relative;
  clear: both; 
  /* Keep Footer at the bottom */
  /* position: fixed;
  bottom: 0;
  width: 100%; */
}

.footer-nav a {
  color: white;
  align-items: flex-end;
  margin-right: 8px;
  text-decoration: none;
  margin-top: 10px;
  size: 20px;
}

img {
  width: 25px; /* you can use % */
  height: auto;
  margin-bottom: 5px;
  margin-left: 15px;
}

.footer-research a {
  color: white;
  align-items: flex-end;
  margin-right: 8px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.footer_secret a {
  color: white;
  text-decoration: none;
  margin-top: 4px;
  margin-left: 8px;
}
